<div class="events-header">
  <div>Hover an event to see its informations</div>
  <div>Click on an event to edit it</div>

  <div class="event-informations" ng-show="event.id">
    <div class="event-description">
      {{event.description}}
      <i ng-show="!event.description">No description available</i>
    </div>
    <div class="event-duration">
      Duration: {{moment(event.start_date).from(moment(event.end_date), true)}}
    </div>
  </div>
</div>

<div id='calendar'></div>