<aside class='sidemenu span2'>
  <ul>
    <li><a href="/posts">Wall</a></li>
    <li><a href="/positions">Map</a></li>
    <li><a href="/">Events</a></li>
    <li><a href="/todos">Todos</a></li>
  </ul>
</aside>
<section class="webapp span10" ui-view=""></section>
