%h2 Welcome


- if @family.present?
  This is your family's homepage !

  = render 'users'

  .invite_members
    = link_to 'Invite your family', new_user_invitation_path, class: 'btn btn-primary btn-small'

- else
  You should create a family or wait to be invited into one!

  .clear{style: "margin-top: 100px"}
    = link_to "Create your family now", family_path, method: :post, class: 'btn btn-primary btn-large'
