<div class="form-group">
  <input type="hidden" ng-model="post.id" />

  <label for="post_message">Message</label>
  <textarea id='post_message' class="form-control message" type="text" ng-model="post.message" />
</div>

  <button type="submit" class='btn btn-success'>{{ 'SAVE' | translate }}</button>
