- if current_user.family
  %ul.nav.nav-tabs
    %li.member-list= link_to 'Members', users_path
    %li.position-list= link_to 'Positions', positions_path
    %li.wall-list= link_to 'Wall', posts_path
