<select ng-model='search.tasks.status' ng-options='obj for obj in ["all", "empty", "open", "completed"]'></select>
<div ng-repeat="todolist in todolists | orderBy:'-id' | displayTodoByStatus:search.tasks.status" >
  <todolist tasklist="todolist" />
</div>
