<select ng-model='search.tasks.status' ng-options='obj for obj in ["all", "empty", "open", "completed"]'></select>
<a href="/todos/new">Add new todo</a>
<div ng-repeat="task_list in task_lists | orderBy:'-id' | displayTodoByStatus:search.tasks.status" >
  <h3>Title: {{task_list.title}} ({{task_list.tasks.finished_tasks_count}} / {{task_list.tasks.total_tasks_count}})</h3>
  <div class="pull-right">
      <a href="/todos/{{task_list.id}}">Show</a>
      <a href="/todos/{{task_list.id}}/edit">Edit</a>
      <a ng-click="destroy(task_list.id)">Delete</a>
  </div>
  <p>Description : {{task_list.description}}</p>
      
  Created by {{username(task_list.user_id)}}
  Status: {{task_list.tasks.status}}
</div>
