<div class="task_list panel" ng-class="getPanelClass(task_list.tasks.status)">
  <div class="panel-heading">
    <div class="metadata pull-right">
      {{task_list.tasks.finished_tasks_count}} / {{task_list.tasks.total_tasks_count}}
    </div>
    <h5 class="panel-title">{{task_list.title}}</h5>
  </div>
  <div class="panel-body">
    <div class="container">
      {{task_list.description}}
      <i ng-if="!task_list.description">No description</i>
    </div>
    <div class="tasks_container">
      <todo ng-repeat="task in tasks" task="task" />
      <button ng-if="!isAddingNewTask" ng-click="showNewTaskForm()">Create new task</button>
      <form ng-if="isAddingNewTask">
        <div ng-show="error">{{error}}</div>
        <input type="text" placeholder="Title" ng-model="newTaskTitle" required="true" />
        <select ng-model="newTaskAssignedUserId" ng-options="o.id as o.display_name for o in users"></select>
        <button ng-click="create()">Submit</button>
      </form>
    </div>
  </div>
</div>
