.row-fluid
  .offset2.span8#presentation
    .lead
      %h1 FamilyMe
      FamilyMe - The place where you can manage your family blabla
      - unless current_user.present?
        .join-button
          = link_to 'JOIN NOW', new_user_registration_path, class: 'btn btn-primary btn-large'

    .infoboxes.row-fluid
      %hr
      .span4.infobox
        %h3 Easy to use
        .text
          bla bla bla bla bla bla
          bla bla bla bla bla bla
      .span3.infobox
        %h3 Mobiles apps
        .text
          You got free mobiles apps to manage the back-end blablabla
      .span4.infobox
        %h3 Free
        .text
          We have a free plan, only extra options have to be purchased

  / .posts
  /   %h1#title1 Who are we
  /   .post
  /     Lorem ipsum dolor sit amet, consectetur adipiscing elit.

  /     Mauris magna massa, aliquet non gravida tempus, dignissim ac turpis. Proin lacinia venenatis turpis eget pellentesque. Phasellus egestas ullamcorper pretium. Curabitur in ligula mi, id suscipit sapien.
  /     %br

  /     Proin sed nulla tortor, quis scelerisque sem. Maecenas dignissim, augue a pharetra tempor, elit nisi lobortis augue, id luctus felis elit a nunc. Fusce facilisis lacinia cursus. Nulla quis aliquet quam.

  /     %br
  /     Curabitur dapibus, sapien ut ultrices ultricies, neque mauris luctus dolor, sed commodo ante risus sit amet nunc. Suspendisse potenti. Praesent eget urna odio, non sodales elit.

  /   %h1#title2 What do we do
  /   .post
  /     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris magna massa, aliquet non gravida tempus, dignissim ac turpis. Proin lacinia venenatis turpis eget pellentesque. Phasellus egestas ullamcorper pretium. Curabitur in ligula mi, id suscipit sapien. Proin sed nulla tortor, quis scelerisque sem. Maecenas dignissim, augue a pharetra tempor, elit nisi lobortis augue, id luctus felis elit a nunc. Fusce facilisis lacinia cursus. Nulla quis aliquet quam. Curabitur dapibus, sapien ut ultrices ultricies, neque mauris luctus dolor, sed commodo ante risus sit amet nunc. Suspendisse potenti. Praesent eget urna odio, non sodales elit.
  /   %h1#title3 How much would it cost?
  /   .post
  /     Nunc et justo et risus pharetra lacinia a non purus. Cras tincidunt aliquam justo sit amet sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer nulla eros, posuere a molestie ut, vehicula et velit. Nulla vel sapien quis urna congue semper vitae at risus. Sed consectetur, risus non ultricies lobortis, libero mauris pharetra justo, ac fermentum eros dolor ut quam. Duis iaculis neque sit amet purus pretium non pretium metus viverra. Nunc varius, lacus sed tincidunt bibendum, lacus dui interdum risus, a feugiat tortor risus nec neque. In hac habitasse platea dictumst. Curabitur vestibulum tempus velit eu pharetra. Aenean nibh sem, suscipit sit amet adipiscing in, laoreet eu odio. Sed dolor leo, condimentum eu malesuada placerat, ornare ac tortor.
  /   %h1#title4 Our pricing?
  /   .post
  /     Aenean iaculis, justo non elementum cursus, elit justo pretium neque, in cursus eros lacus ac risus. Curabitur varius mi nec ipsum fringilla quis mattis ante tempor. Nullam blandit cursus est non rhoncus. Integer ut odio dapibus tellus pretium elementum ultricies non dolor. Aenean blandit viverra dictum. Donec lacinia vulputate nulla, a facilisis urna rhoncus a. Integer ultrices venenatis diam, et viverra magna molestie eget. Mauris a mauris enim, non vestibulum metus. Praesent accumsan enim eu magna fringilla porta.
  /   %h1#title5 Contact us
  /   .post
  /     Ut cursus felis a erat interdum sit amet fringilla dolor elementum. Donec viverra tortor non leo semper quis faucibus odio adipiscing. Duis tempor diam non nunc tempus varius. Praesent nunc mauris, consequat ac porta in, iaculis a nisl. Praesent sodales venenatis quam dignissim adipiscing. Nulla facilisi. Maecenas at massa diam, in dapibus neque. Proin vitae pulvinar diam.
  /   %h1#title6 Who is your wife
  /   .post
  /     Aliquam erat volutpat. Ut et mi et libero placerat fringilla vel sed nisi. Cras pellentesque ligula vel velit mollis blandit ac in tellus. Etiam vulputate accumsan libero at faucibus. Maecenas nec mauris dolor. Curabitur rhoncus orci scelerisque elit eleifend quis auctor tellus sollicitudin. Suspendisse hendrerit lacinia tortor, vitae iaculis velit eleifend at. Donec molestie, leo a egestas elementum, magna leo placerat felis, a ultrices nunc lacus eu lectus. Nunc euismod elementum orci consequat vehicula. Integer a sagittis justo. Cras turpis lorem, dignissim sit amet elementum vel, dictum quis ipsum. Vestibulum ullamcorper interdum nibh, et semper massa porta ac. Nulla cursus auctor augue, sit amet molestie lorem dictum a. Nullam eu accumsan lectus.

