.row-fluid
  .offset2.span8#presentation
    .lead
      %h1 FamilyMe
      FamilyMe - The place where you can manage your family blabla
      - unless current_user.present?
        .join-button
          = link_to 'JOIN NOW', new_user_registration_path, class: 'btn btn-primary btn-large'

    .infoboxes.row-fluid
      %hr
      .span4.infobox
        %h3 Easy to use
        .text
          bla bla bla bla bla bla
          bla bla bla bla bla bla
      .span3.infobox
        %h3 Mobiles apps
        .text
          You got free mobiles apps to manage the back-end blablabla
      .span4.infobox
        %h3 Free
        .text
          We have a free plan, only extra options have to be purchased
