%section#invitations-list
  %h3 Invitations
  - if @invitations.any?
    %table.table.table-bordered.table-hover.invitations-list
      %tr
        %th email
        %th sent_by
        %th status
      - @invitations.each do |invitation|
        %tr{class: invitation.get_table_row_class}
          %td= invitation.email
          %td= invitation.user.display_name
          %td= invitation.status
  - else
    %p You haven't sent any invitation yet.
  = link_to 'Invite someone', new_invitation_path, class: 'btn btn-warning'
