#task-list-show
  %h3= @task_list.title
  - if @task_list.description
    %pre= @task_list.description

  .tasks-container
    %a.btn.btn-success Add a task
    .tasks

- if @task_list.author == current_user
  .actions.pull-right
    = link_to "Edit", edit_task_list_path(@task_list)
    = link_to "Delete", task_list_path(@task_list), method: :delete, confirm: "Are you sure?"
