/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body { padding-top: 60px; }

h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}

#presentation {
  margin: 0 auto;
  width: 768px;
  // border: 1px solid red;

  .lead {
    text-align: right;
    width: 90%;
    margin-top: 100px;
    // border: 1px solid black;

    .join-button {
      margin-top: 20px;
      margin-bottom: 50px;
    }
  }

  .infoboxes {
    float: clear;
    margin-top: 200px;
    // border: 1px solid blue;

    .infobox {
      // border: 1px solid green;
      width: 250px;
      margin: 0;
      display: inline-block;

      h3 {
        text-align: center;
      }
    }
  }
}