/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require fullcalendar/fullcalendar
 *= require bootstrap-datetimepicker-master/css/datetimepicker
 *= require webapp
 */

$familyMe-orange: rgb(209, 154, 37);
$familyMe-orange-dark: #ff8000; 

body {
  color: white;
  background: url('/assets/classy_fabric.png') repeat left top; 
  font-family: 'quicksand', sans-serif;

  label { font-weight: bold;}

  table {
    background-color: white;
    color: black;

    img {
      border-radius: 50px;
    }
  }
}

.orange-caret
{
  border-top-color: $familyMe-orange-dark !important;
  border-bottom-color: $familyMe-orange-dark !important;
}

// Sidemenu

.navigation-menu {
  position: absolute;
  top: 54px;
  left: 2px;
  text-align: center;
  background-color: #222222; // Kind of black used by navbar-inverse

  border: 0;

  a:hover, a:focus {
    background-color: transparent !important;
  }
}

// Simple form improvments

.form-actions {
  background-color: transparent;
  border: none;
}

.invitations-actions {
  a {
    color: white;
  }
}


// Fix until simple_form gets bootstrap 3
.control-group, .form-actions {
  margin: 10px 0;
}
