@import "twitter/bootstrap";

$familyMe-orange: rgb(209, 154, 37);
$familyMe-orange-dark: #ff8000; 

body {  
  font-family: 'quicksand', sans-serif;
}

#home {
  margin-bottom: 10%;
  margin-top: 20%;

  background-color: rgb(27, 27, 27);
  background-image: linear-gradient(rgb(34, 34, 34), rgb(17, 17, 17));
  background-repeat: repeat-x;
  opacity: 0.98;
  color: white;

  padding-top: 10px;

  .clear {
    padding: 0px;
    border-bottom: 1px solid $familyMe-orange-dark;
  }
}

.clear {
  clear: both;
  border-bottom: 1px solid #F2F2F2;
  padding: 10px 0;
  margin: auto;
}

.join-buttons {
  padding: 10px 0px 5px;
  text-align: center;

  a {
    width: 120px;
    &.second { margin-left: 70px; }
  }
}

#features {
  max-width: 100%;
  width: 100%;

  h2 {
    margin-top: 50px;
    margin-bottom: 30px;
  }
 .col-md-6 {
    padding: 20px;
  }
}

#features {
  h1 {
    padding-top: 10px;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    color: $familyMe-orange;    
  }

  background-color: white;

    h2 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 300;
    color: $familyMe-orange;
  }

  .much-more {
    margin-bottom: 30px;
    text-align: center;
  }
}

#app-links {
  font-size: 26px;
  color: white;
  font-weight: bold;
  line-height: 300px;
  text-align: center;
}


.footer {
  color: white;
  font-weight: bold;
  padding: 10px;
  background-color: #343b41;
  text-align: center;
  border-top: 5px solid #4d5a63;

  span {
    line-height: 39px;
  }

  .btn {
    display: inline-block;
    padding: 9px 10px;
    border: 0;
    border-radius: 25px;
    background: $familyMe-orange;

    &:hover {
      background: #ff8000;
    }

    img {
      vertical-align: middle;
      height: auto;
      border: 0;
    }
  }
}
