#left-navbar {

  li a {
    text-align: center;
    width: 120px;
    padding: 15px 0;

    &:hover {
      color: #f33 !important;
      background: none;
    }
  }
}

.active a {
  color: #ff5555;  
}
