#posts {
  .posts-list-header {
    text-align: center;

    textarea {
      width: 50%;
      height: 50px;
    }

    margin-bottom: 10px;
  }

  .posts-list {
    .post {

        border-radius: 10px;
        padding: 5px;

        .avatar {
          margin: 5px;
          border-radius: 25px;
        }
        .post-content {
          .author {
            font-weight: bold;
            font-size: 1.2em;
          }

          .message {
            font-style: italic;
          }
        }

        &:hover {
          background-color: #f4f4f4;
        }

        .delete-post {
          display: none;
          border-right: 20px;
          color: red;
          font-size: 1.8em;
        }

        &:hover .delete-post {
          display: block;
        }
    }
  }
}
