  #display-wall {

    table {
      background-color: transparent;

      td {
        min-width: 90px;
      }
      
      .avatar {
        vertical-align:middle;
        img {
          margin-left: 10px;
          border-radius: 50px;
        }
      }
      .popover {
        position: relative;
        display: block;
        float: left;
        width: 90%;
        max-width: 90%;
        margin: 20px;

        color: black;
      }
    }
  }
