#posts {
  .posts-list-header {
    text-align: center;

    textarea {
      width: 50%;
      height: 50px;
    }

    margin-bottom: 10px;
  }

  .posts-list {
    .post {
        // border: 1px solid blue;

        .delete-post {
          color: red;
          font-size: 1.8em;
        }
    }
  }
}