#welcome-screen {

  .invitation {
    img {
      border-radius: 25px;
    }

    padding: 5px;
    font-size: 1.2em;
    border-top: 1px inset grey;
    border-bottom: 1px inset grey;
  }

  .btn-large {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 100px;
  }
}
